@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Michroma&family=Mozilla+Headline:wght@200..700&display=swap');

body {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Michroma font */
.michroma-font {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Mozilla Headline font */
.mozilla-headline-font {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Bitcount Prop Single font */
.bitcount-font {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* Change as needed */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}